name: Test Build

on:
  pull_request:
  workflow_dispatch:
  workflow_call:
    inputs:
      branch:
        description: 'Branch to run the workflow on'
        required: false
        default: 'main'
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.1.0
        with:
          version: 10.16.1

      - name: Ensure pnpm cache directory exists
        run: mkdir -p ~/.pnpm-store

      - name: Cache pnpm dependencies
        uses: actions/cache@v4
        with:
          path: ~/.pnpm-store
          key: pnpm-store-build
          restore-keys: |
            pnpm-store-build

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Run Build
        run: pnpm run build
